
body {
    font-family: "Times New Roman", Times, serif;
    background: #ABAEBE; /*gris azulado para el fondo #F8EFE4*/
    color: #95431D; /*#CEA15E; naranjo palido colore para las letras*/
    margin: 3em auto; /*margen de los textos a la panrtalla*/
}

a {
    color: black;
}

p {
    text-align: center;
    color: #FFFFFF
    line-height: 1.5em;
    /* word-break: break-all; */
    text-align: center; /*justify;*/
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

ul, ol{
    line-height: 1.5em;
}

h1 {
    text-align: center;
    font-size: 3.6em; /* tamaño de la letra */
    line-height: 1.5em; /* altura de la letra */
    font-weight: 200; /* grososr de la letra */
    color: #E5A510; 
    /*text-shadow: 2px 2px 1px #AF8218;*/
    
}

.toc span a { 
    text-align: center;
    font-size: 80% /*1.5em;*/
    line-height: 1.5em;
    font-weight: 200;
    color: #95431D; /*#AF8218; */

}

h2, h3, h4{
    margin-top: 2em;
    
}

 /*h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}*/

.tagline a {
    text-decoration: none;
    color: #B98409;
    font-weight: 700;
    font-size: 20%; /*30*/
    
    
}

.toc ol {
    background-color: #BDBDBD; /*#F8EFE4*/
    padding: 1em 0;
    border-radius: .2ex;
    font-size: 2em
  
}

/*ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}*/

.toc ol li {
   list-style-position: inside;
    color: white;
    margin-left: 2em;
}

.toc ol li a {
    font-size: 80%;
    text-decoration: none;
    font-weight: 700;
    color: white;
    /* text-shadow: none; 2px 2px 1px #AF8218*/
}

#container {
    margin: 3em auto;
    width: 85%;
    max-width: 600px;
    /*text-shadow: 1px 1px 0 #AF8218;*/
}

footer {
    text-align: center;
    background-color: #BDBDBD;
    font-size: 12px;
    padding: 2em;
}
