@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:200,400,700,900&display=swap');

body {
    font-family: "Times New Roman", Times, serif;
    background: #403e3b;
    color: #F78847;
    margin: 3em auto;
}

a {
    color: green;
}

p {
    text-align: center;
    color: #FFFFFF
    line-height: 1.5em;
    /* word-break: break-all; */
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

ul, ol{
    line-height: 1.5em;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    font-weight: 200;
    color: #E5A510; 
    text-shadow: 2px 2px 1px #AF8218;
    
}

h2, h3, h4{
    margin-top: 2em;
}

.tagline a {
    text-decoration: none;
    color: #B98409;
    font-weight: 700;
    font-size: 30%;
}

.toc ol {
    background-color: #752308;
    padding: 1em 0;
    border-radius: .5ex;
}

.toc ol li {
    list-style-position: inside;
    color: white;
    margin-left: 2em;
}

.toc ol li a {
    font-size: 80%;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 2px 2px 1px #AF8218;
}

#container {
    margin: 3em auto;
    width: 85%;
    max-width: 600px;
    /*text-shadow: 1px 1px 0 #AF8218;*/
}

footer {
    text-align: center;
    background-color: #BDBDBD;
    font-size: 10px;
    padding: 2em;
}
